@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* body {
	background-color: #373737;
} */

.menu-off {
	transform: translateX(100%);
	transition: 0.4s;
	visibility: hidden;
}

.menu-on {
	transform: translateX(0);
	transition: 0.4s;
	visibility: visible;
}

.layer-on {
  transform: translateX(0);
transition: .1s;
}
.layer-off {
  transform: translateX(100%);
transition: .3s;
visibility: hidden;

}
